.title{
	font-family: Verdana;
	font-size: 14px;
	color: #1f7878;
	margin-bottom: 0px;
}

.subtitle{
	font-weight: bold;
	font-size: 14px;
	color: black;
	margin-top: 1px;
}

.paragraph{
	font-family: Verdana;
	font-size: 13px;
	width: 601px;
	margin-top: -11px;
}

.paragraph ul{
	margin-top: 1px;
}

.fine-print{
	font-family: Verdana;
	font-style: italic;
	font-size: 12px;
	color: #666666;
}

